<aside id=sidebar>
  <div class="row">
    <div class="col-sm-12 pt-4 pb-2">
      <div class="profile-thumbnail text-center">
        <img
          src="https://cdn3.iconfinder.com/data/icons/users-6/100/654853-user-men-2-512.png"
          alt=""
          class="profile-avatar">

        <h5 class="mt-2">Name</h5>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <ul class="nav flex-column nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active">Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"></a>
        </li>
      </ul>
    </div>
  </div>
</aside>
